In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Start DataScience

Day 1: Основи

In [ ]:
data_path = r"C:\Users\Afina\projects\Job-parser-for-work.ua\data\IT_KYIV_306.xlsx"

In [ ]:
df = pd.read_excel(data_path)

In [ ]:
df.describe()

In [14]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   position      306 non-null    str
 1   min salary    89 non-null     float64
 2   max salary    89 non-null     float64
 3   company       306 non-null    str
 4   class         306 non-null    str
 5   requirements  306 non-null    str
 6   skills        274 non-null    str
 7   verify        275 non-null    str
 8   url           306 non-null    str
 9   ai score      306 non-null    int64
dtypes: float64(2), int64(1), str(7)
memory usage: 24.0 KB

In [ ]:
top_jobs = df[df["ai score"] >= 15].copy()
top_jobs.head()

In [ ]:
data_science_mask = (df["class"] == "IT; 10–50 співробітників") & (df["ai score"] > 13)
data_science = df[data_science_mask]
data_science.head()

In [ ]:
data_science.sort_values(by="ai score", ascending=True)

Day 2: Маніпуляція з даними

In [ ]:
avg_salare_mask = df["min salary"].notna() & df["max salary"].notna()
avg_salare = df[avg_salare_mask].copy()
avg_salare["avg salary"] = (avg_salare["min salary"] + avg_salare["max salary"]) /2
avg_salare.head()

In [ ]:
is_python = df["skills"].str.contains("python", case=False, na=False)
print(sum(is_python))

python_df = df[is_python]
avg_ai_score_puthon = python_df["ai score"].mean()
print(f"avg_ai_score_puthon: {avg_ai_score_puthon}")
python_df.head()

In [ ]:
python_job = df.copy()
python_job["is_python"] = is_python

comparison = python_job.groupby(["class", "is_python"])["ai score"].agg(["mean", "count"])
comparison.reindex()
pivot_report = comparison.pivot_table(
    values=["mean"],
    columns=["is_python"],
    index=["class"],
    aggfunc="mean"
)
pivot_report.style.background_gradient(cmap='Greens')

Очищення чисел від букв

In [ ]:
clear_salary = df.copy()
clear_salary.fillna({
    "min salary": 0,
    "max salary": 0,
    "skills": "Not specified",
    "ai score": 0})
pivot_report = clear_salary.pivot_table(
    values=["max salary","min salary"],
    index="class",
    columns="ai score",
    aggfunc="mean"
).fillna(0)
pivot_report.style.background_gradient(cmap='Greens', low=0.1)

Day 3 Очищення та робота з реальними даними

In [ ]:
position_to_null = df.copy()
position_to_null["position"] = pd.to_numeric(df["position"], errors="coerce")

In [57]:
comparison["popularity_share"] = comparison['count'] / comparison['count'].sum()*100
comparison.pivot_table(
    values=["popularity_share","count"],
    index=["class", "is_python"],
    columns=[],
    aggfunc="mean"
).fillna(0)
comparison.sort_values(by="is_python", ascending=False)

,,mean,count,popularity_share
class,is_python,,,
IT; 10–50 співробітників,True,13.200000,5,1.633987
IT; 250–1000 співробітників,True,12.750000,4,1.307190
IT; 50–250 співробітників,True,12.750000,4,1.307190
IT; більше 1000 співробітників,True,14.250000,4,1.307190
IT,False,12.857143,7,2.287582
IT; 10–50 співробітників,False,12.746269,67,21.895425
IT; 250–1000 співробітників,False,12.375000,40,13.071895
IT; 50–250 співробітників,False,12.228261,92,30.065359
IT; більше 1000 співробітників,False,11.636364,44,14.379085
IT; менше 10 співробітників,False,12.666667,18,5.882353
Сили оборони,False,12.300000,10,3.267974
Сили оборони; 250–1000 співробітників,False,11.666667,3,0.980392
Сили оборони; 50–250 співробітників,False,10.666667,3,0.980392
Сили оборони; більше 1000 співробітників,False,11.200000,5,1.633987